/*ESTILO USUÁRIO*/
h5{
	background-color: #0d7628;
	color: white; 
	border-radius: 3px;
	height: 35px;
	text-align: center;
}
form{
	padding-top: 12px;

}

form label{
	float: left;
	text-align: center;
	width: 50px;
}

.containern{
	padding-left: 15px;
}
.container{
	min-height: 106px;
	max-width: 350px;
	padding-left: 15px;
}
.containerb{

	
	min-width: 700px;
}
.containerc{
	min-width: 700px;
	padding-left: 15px;
}

.containerprincipal{
	padding-top: 5px;
	background: white;
	background-color: #fdfdfd;
	margin: 2em ;
	width: 700px;
	height: 350px;
	box-shadow: 0.3em 0.3em 0.3em 0.3em #808080;
	border-radius: 8px;

}

#login{
	margin-left: 12px;
}
#senha{
	margin-left: 12px;
}
.form-group{
	padding-bottom: 15px;
	} /*espaço entre labels e inputs*/

	#nome{
		margin-left: 12px;
		width: 539px;
	}
	#cnpj{
		margin-left: 13px;
	}

	#perfil{
		margin-left: 13px;
	}
	#ativo{
		margin-left: 20px;
	}
	.btn {
		color: white;

	}
	.btn-warning:hover{
		color: white;
	}
	.centralizar {
		text-align: center;	
	}
/*FIM ESTILO USUÁRIO*/
